:root * {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

#header img {
  width: 65%;
}

#header h1 {
  padding-left: 1rem;
  border-left: 0.25rem solid #fa234e;
}

.crimson-button {
  color: white;
  padding: 1rem 2rem;
  border-width: 0;
  border-radius: 0.25rem;
  outline-width: 0;
  background-color: #fa234e;
  cursor: pointer;
  font-size: 1rem;
}

#missions > div {
  gap: 2rem;
}

.resolution {
  padding: 1rem;
  border-radius: 1rem;
}

.resolution:nth-of-type(1) {
  background-color: #ffebb4;
}

.resolution:nth-of-type(2) {
  background-color: #ffbfb4;
}

.resolution:nth-of-type(3) {
  background-color: #b4f0ff;
}

.resolution img {
  width: 50%;
  display: block;
  margin: auto;
}

.resolution h3 {
  margin: 0;
}

#collaboration {
  background-image: url(images/shapes/shape-1.png);
  background-size: 15rem 15rem;
  background-position: 2.5rem center;
  background-repeat: no-repeat;
}

#collaboration img {
  width: 35%;
}

#collaboration img + div {
  width: 65%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#community {
  margin: -4rem auto;
  background-image: url(images/shapes/shape-1.png);
  background-size: 15rem 15rem;
  background-position: 97.5% bottom;
  background-repeat: no-repeat;
}

#community img {
  width: 35%;
}

#community img + div {
  width: 65%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#oss {
  background-image: url(images/shapes/shape-5.png),
    url(images/shapes/shape-5.png);
  background-size: 15rem 15rem;
  background-position: 97.5% 60%, 2.5% 60%;
  background-repeat: no-repeat;
}

#oss .flex {
  gap: 1.25rem;
}

.project {
  flex: 1 1 0;
  background-color: rgb(221, 245, 253);
  padding: 0.75rem;
  padding-bottom: 2.5rem;
  border-radius: 1rem;
}

.github-link {
  display: inline-block;
  width: fit-content;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

.npm-link {
  display: inline-block;
  width: fit-content;
  color: white;
  background-color: #d40001;
  padding: 1rem;
  border-radius: 0.4rem;
  text-decoration: none;
}

#footer {
  background-color: black;
  color: white;
  padding-bottom: 1rem;
}

#footer h2 {
  font-style: italic;
  font-family: "Pacifico", cursive;
}

#footer h2 span {
  color: #fa234e;
}

/* Utility Classes */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-50 {
  width: 50%;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.px-30 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.text-purple {
  color: purple;
}

.text-center {
  text-align: center;
}
